name: "Test"
on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  test:
    name: "Test"
    runs-on: ubuntu-latest
    steps:
      - name: 'Check out code'
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: 'Install nodejs 20'
        uses: actions/setup-node@v2
        with:
          node-version: '20'
      - uses: pnpm/action-setup@v4
        with:
          version: latest
      - name: 'Build and test'
        run: |
          pnpm install
          pnpm check
          pnpm build
          npx @vscode/vsce package --no-dependencies
          ls -lah *.vsix
